body {
    background: url(./resources/mountains.jpg) no-repeat center center fixed;
    background-size: cover;
}


#about {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#resume {
    width: 120%;
}

.tab {
    margin-left: 20px;
}

footer {
    padding: 10px, 10px, 10px, 10px;
}

